/**
 * SOF Invoice detail information
 */
table {
  clear : both;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* EOF invoice detail information */
/* SOF invoice first part */
.header-first {
  text-align: right;
}
.total {
  text-align: right;
}
/* EOF invoice first part */
